div#div1
{	position: relative;
	border: 1px solid black;
	width: 350px;
	height: 350px;
	background-image: url("..\\Untitled 2.jpg");
	background-size: 100% 100%;
}

div#div2
{	height: 250px;
	width: 250px;
	margin: 50px;
	perspective: 100px;
	-webkit-animation:vrti linear infinite;
	-webkit-animation-duration: 20s;
	background-color: rgba(0,0,0,0);
}

div#div3
{	width: 20px;
	height: 140px;
	margin-top: 80px;
	margin-left: 115px;
	position: absolute;
	border: 1px solid black;
	background-color: red;
	transform: rotateX(70deg);
	border-radius: 10px;
	background-color: rgba(0,255,0,1);
}

@keyframes vrti
{	100% 
	{	-webkit-transform: rotate(360deg);
	}
}